*{
  padding: 0px;
  margin: 0px;
  font-family: 'Roboto', sans-serif;
  font-weight:500;
}
body{
  background-color: #f0f0f0;
}
#tournamentList{
  background-color: #D6D6D6;
  width: 250px;
  height: 100vh;
  border-right: 2px solid #C8C8C8;
}
#tournamentInfo{
  width: 100%;
  height: 100vh;
  background-color: white;
}
#playerLadder{
  width: 600px;
}
#currentRound{
  flex: 1;
}
.header{
  padding: 10px;
}
.content{
  padding: 10px;
}
.flex{
  display: flex;
}
.pad-10{
  padding: 10px;
}
.mar-3{
  margin: 3px;
}
.font-16{
  font-size: 16px;
}
.left{
  float: left;
}
.right{
  float: right;
}
.container{
  overflow: auto;  /* NOTE: this screws up on windows. have to remove scroll bars */
}
.btn{
  width: 25px;
  height: 25px;
  font-size: 20px;
  font-weight: 200;
  background: linear-gradient(#fafafa, #f0f0f0);
  border: 1px solid #CFCFCF;
  border-radius: 5px;
  margin-right: 5px;
}
.btn:active{
  background: linear-gradient(#e6e6e6, #d2d2d2);
}
.btn-big{
  width: 40px;
  height: 40px;
  font-size: 25px;
  font-weight: 200;
  background: linear-gradient(#fafafa, #f0f0f0);
  border: 1px solid #CFCFCF;
  border-radius: 5px;
  margin-right: 5px;
}
.btnSimple{
  padding: 10px;
  font-size: 14px;
  font-weight: 200;
  color: red;
  background: none;
  border: none;
}
.btnFlat{
  width: 30px;
  height: 30px;
  font-size: 25px;
  font-weight: 200;
  color: white;
  background: #75d672;
  border: none;
  border-radius: 50%;
  margin: 10px auto;
  display:block;
}
.btnFlat:hover{
  background: #63bc60;
}
.nextRoundBtnClass{
  font-size: 20px;
  font-weight: 200;
  background: linear-gradient(#fafafa, #f0f0f0);
  border: 1px solid #CFCFCF;
  border-radius: 5px;
  margin: 10px auto;
  display: block;
  padding: 10px;
}
.disabled {
  color: grey;
  cursor: not-allowed;
}
button{
  cursor: pointer;
}
button:active{

}
button:focus{
  outline:0;
}

.sideBarTitle{
  color: #535353;
}
ul{

}
li.tournamentInstance{
  padding: 5px 0px 5px 30px;
  color: #252525;
  cursor: pointer;
}
li.tournamentInstance:hover{
  background-color: #9A9A9A;
  font-style: italic;
  font-weight: 700;
  color: black;
}
.active{
  background-color: #9A9A9A;
  font-style: italic;
  font-weight: 700;
  color: black;
}
/*NEW TOURNAMENT*/
#newTournamentControls{
  background-color: #f5f5f5;
  border-bottom: 1px solid #cdcdcd;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}
#newTournamentTitle{
  text-align: center;
  padding: 10px;
  margin-left: 20px;
}
#titleInput{
  background-color: white;
  margin-top: 50px;
}
.simpleInput{
  width: calc(100% - 15px);
  font-size: 16px;
  padding: 5px 0px 5px 15px;
  margin: 0px;
}
input:focus {outline:0;}
.spacer-20{
  height: 20px;
}
input{
  border: none;
}
.borderTop{
  border-top: 1px solid #d0d0d0;
}
.borderBottom{
  border-bottom: 1px solid #d0d0d0;
}
hr{
  width: 100%;
  border-color: #EEEEEE;
  border-style: solid;
}
.matchInstanceHr{
  margin-top: 5px;
  margin-bottom: 5px;
}
h1{

}
h2{
  color: #404040;
}
.bg-white{
  background-color: white;
}
::-webkit-input-placeholder {
    font-weight: 300;
    color: #d0d0d0;
}
#HIDDEN{
  display: none;
}
table{
  width: 100%;
}
table, th, td {
    border: 1px solid #EEEEEE;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: center;
}
.matchInstance{
  width: 45%;
}
.playerName{
  padding: 5px;
  margin-right: 7px;
}
.playerDataInput{
  width: 100px;
}
.submitBtn{
  float: left;
  padding-top: 4px;
  width: 60px;
}
.center{
  text-align: center;
}
